<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972049110403-id4l9grhpd8t49q9ssiv978allkjohp8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972049110403-id4l9grhpd8t49q9ssiv978allkjohp8</string>
	<key>API_KEY</key>
	<string>AIzaSyAFHJIHPtRaGejz0_U6DGD_uFcutKYvPgI</string>
	<key>GCM_SENDER_ID</key>
	<string>972049110403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mehmet.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchat-96cd1</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-96cd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972049110403:ios:9d915a0c966c25c754d2b6</string>
</dict>
</plist>